/node_modules
/public/hot
/public/mix-manifest.json
/public/chunks
/public/css
/public/js
/public/images
/public/sounds
/public/fonts
/public/storage
/public/vendor/pusher.*
/public/vendor/socket.*
/storage/*.key
/storage/backups/*
/vendor
/xdebug
supervisord.pid
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/*.backup
yarn-error.log
/*.zip
report.html
/public/report.html
_ide_helper_models.php
.phpstorm.meta.php
_ide_helper.php
/.eslintcache
/*.dat
/*.bat
/public/mix.*
/*.key
storage/.ignore_locales
docker-compose.prod.yml
docker-compose.dev.yml

